<table class="ui celled striped table">
    <thead>
        <tr>
            <th class='collapsing'><i class='health icon'></i></th>
            <th>Id</th>
            <th>Node</th>
            <th>Name</th>
            <th>Image</th>
            <th>Status</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="green circle icon"></i></td>
            <td>7c8458749f9c</td>
            <td>debian</td>
            <td>fervent_ritchie</td>
            <td>iojs</td>
            <td>Up 11 hours</td>
            <td>2015-09-20 10:55:08 +0100</td>
        </tr>
    </tbody>
</table>
